*.env
*.pt
*.bin
*.tsv
*.csv
__pycache__/
*.pyc
*.venv

# System files
.DS_Store
Thumbs.db
desktop.ini

data/CovidET-Appraisals/
outputs/
outputs/eval/

runs/

printf "\n# Temporary prediction archives\nbootstrap_predictions.zip\ntest_predictions.zip\n" >> .gitignore