*.env
*.pt
*.bin
*.tsv
*.csv
__pycache__/
*.py[cod]
*.pyc
.venv/

# Logs and caches
*.log
.cache/
huggingface/
wandb/

# System files
.DS_Store
Thumbs.db
desktop.ini

data/CovidET-Appraisals/
data/CovidET-Appraisals/repo/
outputs/**/*.log
outputs/


checkpoints/
*.pt
*.pth
*.ckpt

# External cloned repositories and datasets
data/CovidET-Appraisals/repo/

# Ignore all experimental run directories
runs/